name: Conventional Commits

permissions:
  contents: read
  pull-requests: read

on:
  pull_request:
    branches:
      - main
      - develop

jobs:
  commit-lint:
    name: Verify Conventional Commits
    if: (github.event_name == 'pull_request' && !startsWith(github.event.pull_request.head.ref, 'release-please--'))
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Check Commit Messages
        uses: wagoid/commitlint-github-action@v6
        with:
          configFile: .commitlintrc.yml
          token: ${{ secrets.GITHUB_TOKEN }}