name: Format

on:
  pull_request:
    branches:
      - main

permissions:
  contents: write

jobs:

  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5 # v2 minimum required
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
      - uses: axel-op/googlejavaformat-action@v4
        with:
          args: "--replace"
          # Recommended if you use MacOS:
          github-token: ${{ secrets.GITHUB_TOKEN }}
